.pane-container {
    border-bottom: 1px solid #AAA;
    margin: 5px 10px;
    padding: 5px 0;
    .pane-header {
        padding-left: 15px;
        height: 25px;
        color: black;

        i {
            margin-left: 10px;
            font-size: 20px;
            color: #666;
            cursor: pointer;
        }
    }

    .pane-content {
        padding-left: 15px;
        height: 115px;
        margin-top: 5px;
        overflow-y: auto;
        .filter-item {
        }

        .checkbox{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.span-header-image{
    background: url("../../../assets/images/Terminal.svg") no-repeat;
    height: 20px;
    width: 25px;
    display: inline-block;
    background-size: 20px;
}

.span-header-image-terminal{
    background: url("../../../assets/images/Terminal.svg") no-repeat;   
    height: 20px;
    width: 25px;
    display: inline-block;
    background-size: 20px;
}

.span-header-image-airline{
    background: url("../../../assets/images/Airlines.svg") no-repeat;   
    height: 20px;
    width: 25px;
    display: inline-block;
    background-size: 20px;
}

.span-header-image-buffer{
    background: url("../../../assets/images/Buffer.svg") no-repeat;   
    height: 20px;
    width: 25px;
    display: inline-block;
    background-size: 20px;
}

.span-header-image-earlyLate{
    background: url("../../../assets/images/Early_late.svg") no-repeat;  
    height: 20px;
    width: 25px;
    display: inline-block;
    background-size: 20px; 
}