.notification-header {
    color: #FFF;
    //border: 1px solid red;
    border-bottom: 1px solid white; 
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    .pull-right{
        font-size: 15px;
        // color: rgb(178, 226, 249);
        color: rgb(124, 195, 232);
        cursor: pointer;
    }
}


    
