$headerHeight: 50px;
$sidepanelWidth: 200px;

body {
  background-color: rgb(245, 247, 246);
}

.left-panel-area,
.main-area {
  padding: 0;
  margin: 0;
  z-index: 99;
}

.content-area {
  width: 100vw;
  padding: 0;
  margin: 0;
  height: calc(100vh - #{$headerHeight});
}

.left-panel-area {
  display: inline-block;
  vertical-align: top;
  height: 70%;
  width: 200px;
  padding: 5px 5px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 600;
}

.main-area-container {
  display: inline-block;
  width: calc(100% - 220px);
  height: calc(97% - 5px);
  padding: 0 !important;
  margin-top: 5px;
  background-color: #fff;
}
.span-space {
  margin: 0 5px;
}