$headerHeight: 50px;
$sidepanelWidth: 200px;

body{
    background-color: rgb(236, 236, 236);
}

.header-area, .left-panel-area, .main-area {
    padding: 0;
    margin: 0;
}

.header-area {
    display: block;
    height: $headerHeight;
    background-color: #093A63;
    color: #FFF;

    .app-title {
        margin-left: 10px;
        display: inline-block;
        padding-top: 10px;
        .title {
            font-size: 20px;
            letter-spacing: 4px;
        }
    }

    .btn-panel-right {
        margin-right: 50px;
        font-size: 25px;
        color: #AAA;
        height: 20px;
        position: absolute;
        right: 5px;
        top: 13px;

        i {
            cursor: pointer;
            margin-left: 5px;
            opacity: 0.5;
        }

        .selected-btn {
            opacity: 1;
        }
    }
}

.header-area-left{
    margin-top: 15px;
    margin-left: 10px;
    flex: 1;
    text-align: left;
}

.header-area-left img{
    max-height: 40px;
}

.header-area-center{
    margin: 5px;
    flex: 1;
    text-align: center;
}

.header-area-center img{
    max-height: 40px;
}

.header-area-right{
    // border: solid red 1px;
    margin: auto 5px;
    flex: 1;
    text-align: right;
}

.header-area-right i{
    margin: 0 5px;
}

.header-area-right input{
    margin: 0 5px;
    border-radius: 15px;
    background-color: #0d508d;
}

.span-calendar{
    background: url("../../../assets/images/Calendar-01.svg") no-repeat;
    height: 20px;
    width: 25px;
    display: inline-block;
    position: relative;
    /* top: 4px; */
    padding: 5px;
    font-size: 10px;
}

.span-notify{
    background: url("../../../assets/images/Alert.svg") no-repeat;
    height: 20px;
    width: 25px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.content-area {
    width: 100vw;
    padding: 0;
    margin: 0;
    height: calc(100vh - #{$headerHeight});
}

.left-panel-area {
    display: inline-block;
    vertical-align: top;
    height: calc(100% - #{$headerHeight});
    width: 100%;
    padding: 5px 5px;
    // border: solid red 1px;
    border-radius: 10px;
}

.main-area {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgba(51, 51, 51, 0.6);

    canvas {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .no-padding {
        padding: 0 !important;
    }
}

.main-area-container {
    width: 1600px;
    height: 850px;
    padding: 0 !important;
    margin-top: 5px;
}
.header-area{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
