.canvas-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hover-header {
    font-size: 15px;
    font-weight: bold;
    color: #BBB;
    border-bottom: 2px solid #DDD;
    height: 20px;
}

.hover-item {
    font-size: 14px;
    color: #BBB;
    height: 20px;
    margin-top: 5px;

    .left-margin {
        margin-left: 10px;
    }

    .right-margin {
        margin-right: 10px;
    }

    i.arrival {
        transform: rotate(90deg);
    }
}

.font-green {
    color: rgb(157, 228, 157);
}

.font-red {
    color: rgb(228, 143, 143);
}

.right-align {
    text-align: right;
}